.order-info__sumber-pesanan--wa {
  color: #28C5A8;
}

.order-info__sumber-pesanan--phone {
  color: #FBAB05;
}

.order-info__sumber-pesanan-text {
  color: black;
}

.order-info__table-header {
  background-color: #52b3d9;
}